TAGS
*~
.*~
*.pyc
.#*
#*#
*/*~
*/.*~
*/*.pyc
*/.#*
*/#*#
*/*.so
*/build/
examples/codegen_out/*
examples/profile.out
# ODEPACK is downloaded at setup (see setup_odepack.py)
symodesys/odepack/opkdmain.f
symodesys/odepack/opkda1.f
symodesys/odepack/opkda2.f
symodesys/odepack/*__*.*
# Cython generated C file not tracked (might be provided as bz2 in future release though)
symodesys/odepack/pylsodes_bdf.c
symodesys/odepack/prebuilt/*
symodesys/odepack/prebuilt/*
