TAGS
*~
.*~
*.pyc
.#*
\#*#
*/*~
*/.*~
*/*.pyc
*/.#*
*/#*#
*/*.so
build/
*/build/
symodesys/*/prebuilt/*.*
symodesys/*/prebuilt/.*
examples/build_*/
examples/tmp/
examples/profile.out
symodesys/helpers/tests/build/
# ODEPACK is downloaded at setup (see setup_odepack.py)
symodesys/odepack/opkdmain.f
symodesys/odepack/opkda1.f
symodesys/odepack/opkda2.f
# ifort generates some lint
symodesys/odepack/*__genmod.*
# Cython generated C file not tracked (might be provided as bz2 in future release though)
symodesys/odepack/pylsodes_bdf.c
# Transform package
# Cython generated C file
symodesys/transform/transform_wrapper.c
symodesys/transform/tests/tmp*/*
symodesys/gsl/drivers_wrapper.c
examples/tfm_tmp/
